{% extends 'base.html' %}
{% block content %}

<h1>My Shopping List</h1>

{% for item in user_shopping_items %}
    <li>
        <h3><strong>{{ item.name }}</strong></h3>
        <p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <p><strong>Category:</strong> {{ item.category }}</p>
        <p><strong>Store:</strong> {{ item.store.title }}</p>
        <p><strong>Created by:</strong> {{ item.created_by }}</p>
    </li>
{% endfor %}
{% endblock %}